@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Space Grotesk", sans-serif;
  min-height: 100vh;
}
.thank_you {
  display: none;
  font-family: "Space Grotesk";
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 360px;
}
.thank_you img {
  margin-left: 110px;
  height: 55px;
  margin-bottom: 20px;
}
.thank_you h1 {
  margin-left: 70px;
  letter-spacing: 3px;
  font-size: 22px;
  color: hsl(278, 68%, 11%);
  margin-bottom: 7px;
}
.thank_you p {
  margin-left: 30px;
  margin-bottom: 33px;
  font-size: 16px;
  color: hsl(279, 6%, 55%);
}
#confirm_btn {
  background-color: hsl(278, 68%, 11%);
  border: none;
  width: 310px;
  height: 40px;
  font-size: 14px;
  font-family: "Space Grotesk";

  padding-right: 9px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
#confirm_btn:hover {
  background-color: hsl(279, 6%, 55%);
}

.container {
  display: flex;
  align-items: center;
  height: 100vh;
}
.left {
  min-height: 100vh;
  width: 40%;
  background-image: url(images/bg-main-desktop.png);
  background-position: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
.card {
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  left: 100%;
  transform: translate(-50%, -50%);
}
.front-card {
  position: relative;
  transform: translate(-25%);
}
.logo {
  position: absolute;
  top: 2rem;
  left: 1rem;
}
#zeros {
  position: absolute;
  color: white;
  bottom: 5rem;
  left: 2rem;
  letter-spacing: 2px;
}
.card-details {
  position: absolute;
  bottom: 2rem;
  left: 30px;
  right: 40px;
  color: white;
  display: flex;
  justify-content: space-between;
  font-weight: 18px;
}
.back-card {
  position: relative;
  transform: translate(-7%);
}
#cvc {
  position: absolute;
  color: white;
  bottom: 7rem;
  left: 22rem;
  letter-spacing: 2px;
  font-size: 18px;
}
.right {
  padding-left: 350px;
  padding-bottom: 200px;
  font-size: 20px;
  font-family: "Space Grotesk";
  text-decoration-color: hsl(279, 6%, 55%);
  margin-top: 120px;
}

#card_name {
  width: 60%;
  display: block;
  border-radius: 7px;
  height: 30px;
  border-color: rgb(233, 225, 238);
  padding-left: 10px;
}

#card_number {
  margin-top: 2px;
  padding-left: 10px;
  width: 60%;
  display: block;
  border-radius: 7px;
  height: 30px;
  border-color: rgb(230, 222, 235);
}
.card-info {
  display: flex;
  max-width: 60%;
}
#card_month,
#card_year {
  width: 38%;
  text-align: center;
  height: 20px;
  border-radius: 4px;
  border-color: rgb(233, 225, 238);
}
#card_cvc {
  width: 100%;
  height: 20px;
  text-align: center;
  border-radius: 4px;
  border-color: rgb(233, 225, 238);
}
label {
  font-size: 12px;
}
#submit_btn {
  margin-top: 30px;
  background-color: hsl(278, 68%, 11%);
  border-radius: 8px;
  border: none;
  height: 40px;
  width: 320px;
  color: white;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
#submit_btn:hover {
  background-color: hsl(279, 6%, 55%);
}
input:focus {
  border: 2px;
  border-style: solid;
  border-color: hsl(278, 76%, 10%);
  outline: none;
}
input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1px 0;
  margin-top: 10px;
}

.error {
  border-color: hsl(0, 100%, 66%) !important;
}
small {
  font-size: 10px;
  padding: 0;
  display: none;
  margin: 0;
  color: hsl(0, 100%, 66%);
}
@media only screen and (max-width: 350px) {
  .container {
    flex-direction: column;
  }
  .front-card,
  .front-card img,
  .back-card,
  .back-card img {
    width: 300px;
  }
  .card-container .logo {
    width: 50px;
  }

  .container {
    flex-direction: column;
  }
  .front-card .card-container img,
  .front-card,
  .back_card img,
  .back-card {
    width: 280px;
  }
  .left {
    width: 100%;
    min-height: 30vh;
    background-image: url(images/bg-main-mobile.png);
  }
  .card {
    flex-direction: column-reverse;
    left: 61%;
    top: 60%;
    gap: 0;
  }
  .back-card {
    transform: translateY(70px);
  }
  .front-card {
    z-index: 100;
  }
  .right {
    margin-top: 6rem;
  }
  .card {
    background-image: url(images/bg-card-back.png);
    position: absolute;
    left: 150px;
    width: 80%;
    background-repeat: no-repeat;
  }
  .left {
    background-image: url(images/bg-main-mobile.png);
    background-size: contain;
    width: 100%;
    min-height: 40vh;

    background-repeat: no-repeat;
    position: relative;
  }
  .right {
    margin-right: 330px;
  }

  .front-card img {
    display: flex;
    justify-content: left;
    align-items: center;

    position: relative;
    padding-left: 80px;
    width: 250px;
  }
  .back-card img {
    display: none;
    transform: translate(-1);
    gap: 50rem;
    width: 250px;
    position: relative;
  }
  .logo {
    max-width: 10px;
  }
  #submit_btn {
    width: 290px;
  }
}
